.DS_Store
__pycache__/
*.pyc
skills/docx/*
!skills/docx/SKILL.md
!skills/docx/agents/
skills/docx/agents/*
!skills/docx/agents/openai.yaml
skills/pdf/*
!skills/pdf/SKILL.md
!skills/pdf/agents/
skills/pdf/agents/*
!skills/pdf/agents/openai.yaml
skills/pptx/*
!skills/pptx/SKILL.md
!skills/pptx/agents/
skills/pptx/agents/*
!skills/pptx/agents/openai.yaml
